{{ define "head-meta" }}
<meta name="description" content="Esplora il mio blog per approfondire temi di fotografia, SEO, marketing, e scoprire consigli unici sull'accoglienza e il territorio. Lasciati ispirare dalle mie guide e dai miei progetti professionali.">

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "CollectionPage",
        "name": "Blog | Stefano Gabryel Fotografo",
        "url": "https://stefanogabryel.it/blog/",
        "description": "Esplora il mio blog per approfondire temi di fotografia, SEO, marketing, e scoprire consigli unici sull'accoglienza e il territorio. Lasciati ispirare dalle mie guide e dai miei progetti professionali.",
        "hasPart": [
            {{- range $i, $p := .Paginator.Pages }}
            {
                "@type": "BlogPosting",
                "name": {{ $p.Title }},
                "headline": {{ $p.Title }},
            "url": {{ $p.Permalink }},
            {{ with .Resources.GetMatch .Params.banner }}
            "image": [{{ .Permalink }}]
            {{ end }}
        }{{ if lt (add $i 1) (len $.Paginator.Pages) }},{{ end }}
            {{- end }}
        ]
    }
</script>

{{ end }}

{{ define "main" }}
<div class="blog animsition">
    <div class="main-wrapper">
        <div class="container no-padd">
            <div class="row">
                <div class="blog no-padd">
                    {{ range .Paginator.Pages }}
                        <article class="post col-md-4 col-sm-6 margin-md-20b margin-xs-20b margin-lg-20b margin-sm-20b">
                            <a href="{{ .Permalink }}">
                                {{ with .Resources.GetMatch .Params.banner }}
                                <div class="post-media"><img src="{{ .Permalink }}" class="s-img-switch" alt="{{ .Params.h1_title }}"></div>
                                {{ end }}

                                <div class="post-content ">
                                    <h5 class="title"><b>{{ .Params.h1_title }}</b></h5>
                                    <time datetime="{{ .Date.Format "2006/01/02" }}" class="date">{{ .Date.Format "02/01/2006" }}</time>
                                </div>
                            </a>
                        </article>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
