{{ define "head-meta" }}
<meta name="description" content="{{ .Params.seoDescription }}">
    {{ if .Params.homeAsCanonical }}
        <link rel="canonical" href="{{ .Site.BaseURL }}" />
    {{ end }}
{{ end }}

{{ define "main" }}
<div class="container-fluid post-details no-padd">
    <div class="post-banner">
        {{ with .Resources.GetMatch .Params.banner }}
            <img src="{{ .Permalink }}" class="s-img-switch wp-post-image" alt="{{ .Title }}" />
        {{ end }}
    </div>
</div>
<div class="single single-post ">
    <div class="container no-padd">
        <div class="row">
            <article class="col-xs-12 ">
                <div class="date-post">
                    <time datetime="{{ .Date.Format "2006/01/02" }}">{{ .Date.Format "02/01/2006" }}</time>
                </div>
                <h1 class="title">{{ .Title }}</h1>

                <section>
                    <div class="single-content text-left" style="padding:10px">
                        {{ .Content }}
                    </div>
                </section>

                <div class="recent-post-single clearfix margin-md-20t margin-xs-20t margin-lg-20t margin-sm-20t">
                    <a href="/blog"><h4 class="recent-title"><< Torna all'indice del blog</h4></a>
                </div>
            </article>
        </div>
    </div>
</div>
{{ end }}
