<!DOCTYPE html>
<html lang="{{ with .Params.lang }}{{ . }}{{ else }}{{ .Site.Language.LanguageCode }}{{ end }}" dir="{{ or .Site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  {{ block "head-meta" . }}{{ end }}
  <link rel="canonical" href="{{ .Permalink }}" />
</head>
<body class="animsition">
  <div class="main-wrapper ">
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </div>
  {{ partialCached "head/cssfoot.html" . }}
  {{ partialCached "head/js.html" . }}
</body>
</html>
