{{ define "head-meta" }}
<meta name="description" content="Stefano Gabryel: fotografo e marketer per ristorazione, hotel e B&B. Aumento clienti e visibilità con strategie digitali in Toscana, a Pistoia, Lucca, Pisa, Firenze e Prato" />
{{ end }}


{{ define "main" }}
<div class="container-fluid top-banner margin-lg-60b margin-xs-0b">
    <img src="/photos/home-page-banner.jpg" class="s-img-switch" alt="Appennino Tosco-Emiliano durante blue hour" />
    <div class="row home-header" >
        <div class="col-sm-12">
            <div class="content">
                <div class="row text-light">
                    <div class="col-xs-12">
                        <h1 class="title">Stefano Gabryel</h1>
                        <p class="descr">
                            Aiuto imprenditori nel settore dell’accoglienza (hotel, B&amp;B, agriturismi), ristorazione e del vino a far crescere il loro business, attirando più clienti grazie a una comunicazione visiva efficace e coerente su web e social.
                        </p>
                        <p class="descr">
                            Attraverso lo sviluppo di campagne di marketing strategiche e mirate, supporto la crescita del tuo business aumentando il numero di clienti acquisiti e ottimizzando la monetizzazione di quelli esistenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container no-padd">
    <div class="hero">
        <div class="row margin-lg-35b margin-sm-35b margin-xs-0b">
            <div class="col-sm-12 ">
                <div class="about-section">
                    <div class="person-wrap s-back-switch"><img data-lazy-src="/photos/stefano-portrait-home.jpg" class="person s-img-switch" alt="Stefano Gabryel, Fotografo" /></div>
                    <div class="content text-light about-details">
                        <h6 class="subtitle">Fotografo // Brand Identity // Storytelling // Marketing // Socials // Web // Strategy</h6>
                        <h5 class="title">Chi sono?</h5>
                        <div class="descr">
                            Sono un professionista che unisce un'esperienza di oltre 13 anni nel mondo informatico come programmatore e manager, con una profonda passione per la fotografia e la creazione di contenuti.
                        </div>
                        <div class="descr">
                            Combinando la mia esperienza tecnica, la creatività visiva e le competenze di marketing, creo strategie digitali efficaci che danno al tuo business un'immagine coerente e vincente, garantendo una crescita misurabile.
                        </div>
                        {{ with .Site.GetPage "page" "contatti.md" }}
                        <div class="button-wrap text-center"><a href="{{ .RelPermalink }}" class="a-btn-2 button">Vuoi parlarne? Contattami</a></div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="single single-post">
                <div class="single-content">
                    <blockquote>
                        <p>“Scattare insegna a vedere davvero: dopo, non smetti più di farlo, neppure senza macchina fotografica.”</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container border-top">
    <div class="row text-center">
        <div class="col-sm-6 col-lg-4 col-md-4 col-xs-12  margin-lg-50t margin-sm-25t">
            <div class="simple-details">
                <div class="content">
                    <h3 class="title small-title">Strategia su Misura</h3>
                    <div class="text">Analizzo la tua attività, il target e il mercato per costruire un’immagine che non solo piace, ma <b>converte visitatori in clienti.</b></div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4 col-md-4 col-xs-12  margin-lg-50t margin-sm-25t">
            <div class="simple-details">
                <div class="content">
                    <h3 class="title small-title">Servizi Completi e Integrati</h3>
                    <div class="text"><b>Fotografia, video, social media, siti web e storytelling</b>: un unico referente che assicura coerenza e qualità in ogni contenuto.</div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4 col-md-4 col-xs-12  margin-lg-50t margin-sm-25t">
            <div class="simple-details">
                <div class="content">
                    <h3 class="title small-title">Aumento di Visibilità</h3>
                    <div class="text">Immagini e contenuti studiati per aumentare l’interesse, migliorare la reputazione online e <b>far crescere prenotazioni e fatturato.</b></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container clearfix no-padd portfolio-single-content margin-lg-30b border-top border-bottom">
    <div class="row margin-lg-35t margin-lg-40b margin-sm-50b margin-xs-40b">
        <div class="col-sm-12">
            <div class="titles">
                <h2 class="title">Alcuni dei miei scatti</h2>
            </div>
        </div>
    </div>
    <div class="container clearfix no-padd">
        <div class="row gallery-single margin-lg-10b margin-xs-0b">
            <div class="izotope-container">
                <div class="grid-sizer"></div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca1.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/san-marco-holiday-lucca1.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca2.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/san-marco-holiday-lucca2.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca3.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/san-marco-holiday-lucca3.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca4.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/san-marco-holiday-lucca4.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/ESS00514.jpg" class="gallery-item" title="B&amp;B Villa Agnolaccio, Pistoia">
                        <img src="/photos/portfolio/small/ESS00514.jpg" class="s-img-switch" alt="B&amp;B Villa Agnolaccio, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>B&amp;B Villa Agnolaccio, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/ESS00735.jpg" class="gallery-item" title="B&amp;B Villa Agnolaccio, Pistoia">
                        <img src="/photos/portfolio/small/ESS00735.jpg" class="s-img-switch" alt="B&amp;B Villa Agnolaccio, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>B&amp;B Villa Agnolaccio, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/DSC01351.jpg" class="gallery-item" title="Castello Ducale Colonna, Agrigento">
                        <img src="/photos/portfolio/small/DSC01351.jpg" class="s-img-switch" alt="Castello Ducale Colonna, Agrigento">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Castello Ducale Colonna, Agrigento</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/DSC01358.jpg" class="gallery-item" title="Castello Ducale Colonna, Agrigento">
                        <img src="/photos/portfolio/small/DSC01358.jpg" class="s-img-switch" alt="Castello Ducale Colonna, Agrigento">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Castello Ducale Colonna, Agrigento</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/ESS01417.jpg" class="gallery-item" title="Agriturismo La Romagnana, Pistoia">
                        <img src="/photos/portfolio/small/ESS01417.jpg" class="s-img-switch" alt="Agriturismo La Romagnana, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Agriturismo La Romagnana, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/ESS01445.jpg" class="gallery-item" title="Agriturismo La Romagnana, Pistoia">
                        <img src="/photos/portfolio/small/ESS01445.jpg" class="s-img-switch" alt="Agriturismo La Romagnana, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Agriturismo La Romagnana, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/ESS01487.jpg" class="gallery-item" title="Agriturismo La Romagnana, Pistoia">
                        <img src="/photos/portfolio/small/ESS01487.jpg" class="s-img-switch" alt="Agriturismo La Romagnana, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Agriturismo La Romagnana, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/ESS09619.jpg" class="gallery-item" title="Parco del Palazzo Mediceo di Pratolino, Firenze">
                        <img src="/photos/portfolio/small/ESS09619.jpg" class="s-img-switch" alt="Parco del Palazzo Mediceo di Pratolino, Firenze">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Parco del Palazzo Mediceo di Pratolino, Firenze</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/ESS09625.jpg" class="gallery-item" title="Parco del Palazzo Mediceo di Pratolino, Firenze">
                        <img src="/photos/portfolio/small/ESS09625.jpg" class="s-img-switch" alt="Parco del Palazzo Mediceo di Pratolino, Firenze">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Parco del Palazzo Mediceo di Pratolino, Firenze</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/ESS09858.jpg" class="gallery-item" title="Osteria">
                        <img src="/photos/portfolio/small/ESS09858.jpg" class="s-img-switch" alt="Osteria">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Osteria</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/ESS09937.jpg" class="gallery-item" title="Crete Senesi">
                        <img src="/photos/portfolio/small/ESS09937.jpg" class="s-img-switch" alt="Crete Senesi">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Crete Senesi</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/DSC00521.jpg" class="gallery-item" title="Appennino Tosco-Emiliano">
                        <img src="/photos/portfolio/small/DSC00521.jpg" class="s-img-switch" alt="Appennino Tosco-Emiliano">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Appennino Tosco-Emiliano</h5>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container clearfix no-padd portfolio-single-content margin-lg-30b border-bottom">
    <div class="row margin-lg-35t margin-lg-40b margin-sm-50b margin-xs-40b">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12" >
            <div class="titles">
                <div class="text-center"><i class="fa fa-location-arrow big-icon"></i></div>
                <h2 class="title">Dove mi trovo? Dove opero?</h2>
                <div style="padding-left: 12px; padding-right: 12px;">
                    <p>La mia base è in Toscana, tra Pistoia e Lucca — una terra che conosco a fondo e che ispira il mio lavoro ogni giorno. <b>La maggior parte dei miei clienti si trova in Toscana, ma collaboro con strutture in tutta Italia.</b> Ovunque ci sia una storia autentica da raccontare, io ci sono.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container clearfix no-padd portfolio-single-content margin-xs-0b">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="services margin-xs-0b">

                <div class="titles">
                    <h2 class="title">Cerchi un professionista a 360 gradi?</h2>
                    <p><b>Fotografo, content creator e web expert per ristoranti, agriturismi, hotel, B&amp;B e aziende vinicole:</b> ti aiuto a costruire un’immagine online che racconta chi sei — e conquista i tuoi clienti.</p>
                    <p><b>Il mio obiettivo? Risultati concreti:</b> ti affianco nel tempo con strategie su misura che aumentano visibilità, pubblico e prenotazioni.</p>
                    <p>I miei servizi sono pensati per rispondere alle esigenze di una direzione attenta ai risultati e alla coerenza del brand.</p>

                    {{ with .Site.GetPage "page" "contatti.md" }}
                    <div class="button-wrap text-center" style="width:100%"><a href="{{ .RelPermalink }}" style="width:100%" class="a-btn-2 button">Parliamone</a></div>
                    {{ end }}

                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
