{{ define "main" }}
<div class="container no-padd">
    <div class="hero">
        <div class="row margin-lg-35b margin-sm-35b margin-xs-0b">
            <div class="col-sm-12 ">
                <div class="about-section">
                    <div class="person-wrap s-back-switch"><img data-lazy-src="/photos/stefano-portrait-home.jpg" class="person s-img-switch" alt="Stefano Gabryel, Fotografo" /></div>
                    <div class="content text-light about-details">
                        <h5 class="title">Fotografo Professionale per Agriturismi in Toscana</h5>
                        <div class="descr">
                            <b>Mi chiamo Stefano Gabryel e realizzo servizi fotografici professionali per agriturismi in Toscana.</b>
                        </div>
                        <div class="descr">
                            Valorizzo la tua struttura con immagini che emozionano e portano più prenotazioni.
                        </div>
                        <div class="text-center descr">
                            <div><strong>Per un contatto rapido mi trovi su Whatsapp</strong></div>
                            <a href="{{ .Site.Params.whatsappLink }}" target="_blank"><img style="width:250px;" src="/images/start-chat.png" alt="Inizia la chat su Whatsapp"></a>
                            <div>Adesso sono <strong class="whatsapp-green">online</strong>.</div>
                        </div>

                        {{ with .Site.GetPage "page" "contatti.md" }}
                        <div class="button-wrap text-center"><a href="{{ .RelPermalink }}" class="a-btn-2 button">Richiedi un Preventivo Gratuito</a></div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-lg-4 col-md-4 col-xs-12  margin-lg-50t margin-sm-25t">
            <div class="simple-details">
                <div class="content">
                    <h3 class="title small-title">Strategia su Misura</h3>
                    <div class="text">Analizzo la tua attività, il target e il mercato per costruire un’immagine che non solo piace, ma <b>converte visitatori in clienti.</b></div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4 col-md-4 col-xs-12  margin-lg-50t margin-sm-25t">
            <div class="simple-details">
                <div class="content">
                    <h3 class="title small-title">Servizi Completi e Integrati</h3>
                    <div class="text"><b>Fotografia, video, social media, siti web e storytelling</b>: un unico referente che assicura coerenza e qualità in ogni contenuto.</div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4 col-md-4 col-xs-12  margin-lg-50t margin-sm-25t">
            <div class="simple-details">
                <div class="content">
                    <h3 class="title small-title">Aumento di Visibilità</h3>
                    <div class="text">Immagini e contenuti studiati per aumentare l’interesse, migliorare la reputazione online e <b>far crescere il tuo fatturato.</b></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container clearfix no-padd portfolio-single-content margin-lg-30b border-top border-bottom">
    <div class="row margin-lg-35t margin-lg-40b margin-sm-50b margin-xs-40b">
        <div class="col-sm-12">
            <div class="titles">
                <h2 class="title">Alcuni dei miei scatti</h2>
            </div>
        </div>
    </div>
    <div class="container clearfix no-padd">
        <div class="row gallery-single margin-lg-10b margin-xs-0b">
            <div class="izotope-container">
                <div class="grid-sizer"></div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca1.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/san-marco-holiday-lucca1.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca2.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/san-marco-holiday-lucca2.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca3.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/san-marco-holiday-lucca3.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca4.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/san-marco-holiday-lucca4.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/drone-san-marco.jpg" class="gallery-item" title="Scatto con Drone, San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/drone-san-marco.jpg" class="s-img-switch" alt="Scatto con Drone, San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Scatto con Drone, San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/villa-agnolaccio1.jpg" class="gallery-item" title="B&amp;B Villa Agnolaccio, Pistoia">
                        <img src="/photos/portfolio/small/villa-agnolaccio1.jpg" class="s-img-switch" alt="B&amp;B Villa Agnolaccio, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>B&amp;B Villa Agnolaccio, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/villa-agnolaccio2.jpg" class="gallery-item" title="B&amp;B Villa Agnolaccio, Pistoia">
                        <img src="/photos/portfolio/small/villa-agnolaccio2.jpg" class="s-img-switch" alt="B&amp;B Villa Agnolaccio, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>B&amp;B Villa Agnolaccio, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/castello-ducale-colonna1.jpg" class="gallery-item" title="Castello Ducale Colonna, Agrigento">
                        <img src="/photos/portfolio/small/castello-ducale-colonna1.jpg" class="s-img-switch" alt="Castello Ducale Colonna, Agrigento">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Castello Ducale Colonna, Agrigento</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/castello-ducale-colonna2.jpg" class="gallery-item" title="Castello Ducale Colonna, Agrigento">
                        <img src="/photos/portfolio/small/castello-ducale-colonna2.jpg" class="s-img-switch" alt="Castello Ducale Colonna, Agrigento">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Castello Ducale Colonna, Agrigento</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/agriturismo-la-romagnana1.jpg" class="gallery-item" title="Agriturismo La Romagnana, Pistoia">
                        <img src="/photos/portfolio/small/agriturismo-la-romagnana1.jpg" class="s-img-switch" alt="Agriturismo La Romagnana, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Agriturismo La Romagnana, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/agriturismo-la-romagnana2.jpg" class="gallery-item" title="Agriturismo La Romagnana, Pistoia">
                        <img src="/photos/portfolio/small/agriturismo-la-romagnana2.jpg" class="s-img-switch" alt="Agriturismo La Romagnana, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Agriturismo La Romagnana, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/agriturismo-la-romagnana3.jpg" class="gallery-item" title="Agriturismo La Romagnana, Pistoia">
                        <img src="/photos/portfolio/small/agriturismo-la-romagnana3.jpg" class="s-img-switch" alt="Agriturismo La Romagnana, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Agriturismo La Romagnana, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container clearfix no-padd portfolio-single-content margin-lg-30b border-bottom">
    <div class="row margin-lg-35t margin-lg-40b margin-sm-50b margin-xs-40b">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12" >
            <div class="titles">
                <div class="text-center"><i class="fa fa-camera big-icon"></i></div>
                <h2 class="title">Servizio Fotografico</h2>
                <div style="padding-left: 12px; padding-right: 12px;">
                    <ul style="padding-left: 12px; padding-right: 12px;">
                        <li><b>Scatti professionali</b> d'interni, esterni e dettagli</li>
                        <li>Foto con drone per panoramiche suggestive</li>
                        <li>Immagini ottimizzate per sito web e social media</li>
                        <li><b>Consegna rapida</b> (7–10 giorni)</li>
                    </ul>
                    <p></p>
                    {{ with .Site.GetPage "page" "contatti.md" }}
                    <div class="button-wrap text-center"><a href="{{ .RelPermalink }}" class="a-btn-2 button">Richiedi un Preventivo Gratuito</a></div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container clearfix no-padd portfolio-single-content margin-lg-30b border-bottom">
    <div class="row margin-lg-35t margin-lg-40b margin-sm-50b margin-xs-40b">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12" >
            <div class="titles">
                <div class="text-center"><i class="fa fa-newspaper-o big-icon"></i></div>
                <h2 class="title">Ti serve anche una mano con il sito o con i social?</h2>
                <div style="padding-left: 12px; padding-right: 12px;">
                    <p><b>Nessun problema:</b> posso occuparmi di tutto io, così hai un unico referente per la tua immagine online.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container clearfix no-padd portfolio-single-content margin-lg-30b border-bottom">
    <div class="row margin-lg-35t margin-lg-40b margin-sm-50b margin-xs-40b">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12" >
            <div class="titles">
                <div class="text-center"><i class="fa fa-question big-icon"></i></div>
                <h2 class="title">Perché scegliere me?</h2>
                <div style="padding-left: 12px; padding-right: 12px;">
                    <ul style="padding-left: 12px; padding-right: 12px;">
                        <li><b>Esperienza diretta con agriturismi,</b> B&B e strutture ricettive in Toscana</li>
                        <li><b>Oltre 15 anni di esperienza</b> nel settore digitale, fotografico e marketing</li>
                        <li>Approccio strategico: <b>immagini che raccontano la tua identità e generano più prenotazioni</b></li>
                        <li>Decine di clienti soddisfatti che continuano a collaborare con me nel tempo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "faq.html" . }}

<div class="container clearfix no-padd portfolio-single-content margin-xs-0b">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="services margin-xs-0b">

                <div class="titles">
                    <h2 class="title">Prenota ora il tuo servizio fotografico</h2>
                    <p>Penso io a tutto: tu devi solo preparare la tua struttura.</p>
                    <p>E se desideri anche video, supporto per il sito web o la gestione dei social, posso essere il tuo unico referente per costruire un’immagine coerente e professionale a 360 gradi.</p>


                    <div class="text-center">
                        <p><strong>Per un contatto rapido mi trovi su Whatsapp</strong></p>
                        <a href="{{ .Site.Params.whatsappLink }}" target="_blank"><img style="width:250px;" src="/images/start-chat.png" alt="Inizia la chat su Whatsapp"></a>
                        <p>Oppure</p>
                    </div>
                    {{ with .Site.GetPage "page" "contatti.md" }}
                    <div class="button-wrap text-center" style="width:100%"><a href="{{ .RelPermalink }}" style="width:100%" class="a-btn-2 button">vai alla pagina contatti</a></div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}