{{ define "head-meta" }}
<meta name="description" content="TODO">
{{ end }}

{{ define "main" }}

<div class="container clearfix no-padd portfolio-single-content">
    <div class="row margin-lg-35t margin-lg-10b margin-sm-10b margin-xs-10b ">
        <div class="col-sm-12">
            <div class="titles">
                <h2 class="title">I miei servizi</h2>
            </div>
        </div>
    </div>
</div>


<div class="container clearfix no-padd portfolio-single-content margin-xs-0b">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="services services-page margin-xs-0b">

                <div class="titles">
                    <div class="text-center"><i class="fa fa-camera big-icon"></i></div>
                    <h2 class="title">Servizio fotografico completo</h2>
                    <p><b>Cosa?</b> Foto che raccontano la storia della tua struttura e proiettano un'immagine che converte.</p>
                    <p><b>Per chi?</b> Ideale per chi ha bisogno di contenuti professionali per presentare la propria impresa senza fare pubblicità invasiva.</p>
                    <p><b>Include:</b> Foto di ambienti interni ed esterni (dove applicabile), editing emotivo delle foto.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="services services-page margin-xs-0b">

                <div class="titles">
                    <div class="text-center"><i class="fa fa-video-camera big-icon"></i></div>
                    <h2 class="title">Servizio video completo</h2>
                    <p><b>Cosa?</b> Video coinvolgenti che trasmettono l’atmosfera unica della tua struttura.</p>
                    <p><b>Per chi?</b> Ideale per chi ha bisogno di video emozionali pronti all’uso.</p>
                    <p><b>Include:</b> Riprese di ambienti interni ed esterni (dove applicabile), montaggio dinamico, musica in licenza e color grading cinematografico.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="services services-page margin-xs-0b">

                <div class="titles">
                    <div class="text-center"><i class="fa fa-globe big-icon"></i></div>
                    <h2 class="title">Sito web su misura</h2>
                    <p><b>Cosa?</b> Un sito che riflette l’identità della tua struttura e accompagna il cliente dalla scoperta alla prenotazione, con la possibilità di ampliarlo aggiungendo e-commerce, form di prenotazione e altro.</p>
                    <p><b>Per chi?</b> Per chi vuole avere una vetrina online professionale e funzionale.</p>
                    <p><b>Include:</b> Design personalizzato, ottimizzazione SEO di base, integrazione moduli di prenotazione.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="services services-page margin-xs-0b">

                <div class="titles">
                    <div class="text-center"><i class="fa fa-users big-icon"></i></div>
                    <h2 class="title">Gestione social visiva</h2>
                    <p><b>Cosa?</b> Contenuti visivi e strategie editoriali per mantenere viva la relazione con i tuoi clienti sui social.</p>
                    <p><b>Per chi?</b> Per chi vuole un feed coerente, emozionale e professionale.</p>
                    <p><b>Include:</b> Creazione di contenuti, programmazione post, copywriting visivo e storytelling.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="services services-page margin-xs-0b">

                <div class="titles">
                    <div class="text-center"><i class="fa fa-signal big-icon"></i></div>
                    <h2 class="title">Campagne marketing mirate</h2>
                    <p><b>Cosa?</b> Strategie pubblicitarie online studiate per raggiungere il pubblico giusto e trasformare la curiosità in prenotazioni.</p>
                    <p><b>Per chi?</b> Per strutture che hanno già una solida identità visiva e vogliono crescere velocemente.</p>
                    <p><b>Include:</b> Campagne social (Instagram, Facebook) e Google Ads, targeting avanzato e ottimizzazione continua.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container clearfix no-padd portfolio-single-content margin-lg-10b">
    <div class="row margin-lg-35t margin-lg-10b margin-sm-10b margin-xs-10b">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12" >
            <div class="titles">
                <h2 class="title">Costruiamo insieme la tua immagine</h2>
                <div style="padding-left: 12px; padding-right: 12px;">
                    <p>Fotografie e video non sono solo ricordi visivi: sono la base per costruire un’immagine coerente e riconoscibile della tua struttura.</p>

                    <p>Con questi primi servizi creiamo il linguaggio visivo che guiderà tutta la tua comunicazione, dal sito web ai social.</p>

                    <p>Una volta definita una base visiva solida e una presenza digitale efficace, le campagne marketing avranno la forza e la coerenza necessarie per convertire davvero.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container clearfix no-padd portfolio-single-content margin-xs-0b">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="services margin-xs-0b">

                <div class="titles">
                    <div class="text-center"><i class="fa fa-envelope big-icon"></i></div>
                    <h2 class="title">Ti va di parlarne?</h2>
                    <p>La consulenza iniziale è gratuita: sarò lieto di ascoltarti e di suggerirti le soluzioni più adatte per far crescere insieme la tua attività.</p>

                    {{ with .Site.GetPage "page" "contatti.md" }}
                    <div class="button-wrap text-center" style="width:100%"><a href="{{ .RelPermalink }}" style="width:100%" class="a-btn-2 button">Parliamone</a></div>
                    {{ end }}

                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}