{{ define "main" }}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Termini e Condizioni di Utilizzo</h2>
            <p>Questa pagina descrive i termini e le condizioni che regolano l'utilizzo di questo sito web.</p>

            ---

            <h3>1. Contenuti del Sito (Disclaimer)</h3>
            <p>Tutti i contenuti presenti su questo sito (testi, immagini, video, etc.) sono forniti <b>"così come sono"</b>. Non offriamo alcuna garanzia, esplicita o implicita, sulla loro accuratezza, completezza, affidabilità o idoneità a scopi specifici. L'uso dei contenuti avviene a tuo rischio e pericolo.</p>

            ---

            <h3>2. Diritti di Proprietà Intellettuale</h3>
            <p>Tutti i contenuti di questo sito, inclusi, ma non limitati a, testi, immagini, grafica, loghi e software, sono di proprietà esclusiva di <strong>Stefano Gabryel</strong>, salvo dove diversamente specificato.</p>
            <p>È severamente vietata la riproduzione, la distribuzione, la modifica, la pubblicazione o l'utilizzo, anche parziale, dei contenuti senza la nostra preventiva autorizzazione scritta.</p>

            ---

            <h3>3. Servizi Offerti</h3>
            <p>Qualsiasi servizio, consulenza o prestazione offerta e/o menzionata su questo sito deve essere concordata caso per caso. Non ci sono obblighi contrattuali impliciti o accordi preliminari. Per ogni tipo di servizio, è necessario un accordo specifico e formale. Puoi contattarci attraverso i canali indicati per discutere le tue esigenze.</p>

            ---

            <h3>4. Modifiche ai Termini e Condizioni</h3>
            <p>Ci riserviamo il diritto di modificare questi termini e condizioni in qualsiasi momento. L'uso continuato del sito dopo l'introduzione di tali modifiche implica l'accettazione delle nuove condizioni.</p>

        </div>
    </div>
</div>
{{ end }}