<div class="container clearfix no-padd portfolio-single-content margin-xs-0b">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="services margin-xs-0b">

                <div class="titles">
                    <div class="text-center"><i class="fa fa-envelope big-icon"></i></div>
                    <h2 class="title">
                        {{ with .Get "title" }}
                            {{ . }}
                        {{ else }}
                            Ti va di parlarne?
                        {{ end }}
                        </h2>
                    <p><b>La consulenza iniziale è gratuita</b>:
                        {{ with .Get "text" }}
                            {{ . }}
                        {{ else }}
                            sarò lieto di ascoltarti e di suggerirti le soluzioni più adatte per far crescere insieme la tua attività.
                        {{ end }}
                    </p>

                    <div class="text-center">
                        <p><strong>Per un contatto rapido mi trovi su Whatsapp</strong></p>
                        <a href="{{ .Site.Params.whatsappLink }}" target="_blank"><img style="width:250px;" src="/images/start-chat.png" alt="Inizia la chat su whatsapp"></a>
                        <p>Oppure</p>
                    </div>


                    {{ with .Site.GetPage "page" "contatti.md" }}
                    <div class="button-wrap text-center" style="width:100%"><a href="{{ .RelPermalink }}" style="width:100%" class="a-btn-2 button">vai alla pagina contatti</a></div>
                    {{ end }}

                    <div class="text-center">
                        <p>🇮🇹 Opero in tutta Italia 🇮🇹</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>