<div class="container clearfix no-padd portfolio-single-content margin-xs-0b">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="services margin-xs-0b">

                <div class="titles">
                    <div class="text-center"><i class="fa fa-envelope big-icon"></i></div>
                    <h2 class="title">Ti va di parlarne?</h2>
                    <p><b>La consulenza iniziale è gratuita</b>:
                        {{ with .Get "text" }}
                            {{ . }}
                        {{ else }}
                            sarò lieto di ascoltarti e di suggerirti le soluzioni più adatte per far crescere insieme la tua attività.
                        {{ end }}
                    </p>

                    {{ with .Site.GetPage "page" "contatti.md" }}
                    <div class="button-wrap text-center" style="width:100%"><a href="{{ .RelPermalink }}" style="width:100%" class="a-btn-2 button">Contattami</a></div>
                    {{ end }}

                </div>
            </div>
        </div>
    </div>
</div>