<div class="container clearfix no-padd portfolio-single-content margin-lg-30b border-bottom">
    <div class="row margin-lg-35t margin-lg-40b margin-sm-50b margin-xs-40b">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12" >
            <div class="titles">
                <div class="text-center"><i class="fa fa-location-arrow big-icon"></i></div>
                <h2 class="title">Dove mi trovo? Dove opero?</h2>
                <div style="padding-left: 12px; padding-right: 12px;">
                    <p>La mia base è in Toscana, tra Pistoia e Lucca — una terra che conosco a fondo e che ispira il mio lavoro ogni giorno. <b>La maggior parte dei miei clienti si trova in Toscana, ma collaboro con strutture in tutta Italia.</b> Ovunque ci sia una storia autentica da raccontare, io ci sono.</p>
                </div>
            </div>
        </div>
    </div>
</div>