<div class="  ">
    <div class="container no-padd">
        <div class="row">
            <div class="col-xs-12 no-padd-md no-padd-mob">
                <header class="right-menu">
                    <a href="/" class="logo">

                        <span> Stefano Gabryel Fotografo</span>

                    </a>
                    <a href="#" class="mob-nav">
                        <i class="fa fa-bars"></i>
                    </a>
                    <nav id="topmenu">
                        <ul id="menu-menu-1" class="menu">
                            {{ range .Site.Menus.main }}
                            {{ if or (not .Page) (or (not (isset .Page.Params "show")) (.Page.Params.show)) }}
                                    <li class="menu-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                                {{ end }}
                            {{ end }}


                        </ul>

                        <div class="napoli-top-social">
                            <span class="social-icon fa fa-share-alt" aria-hidden="true"></span>
                            <ul class="social ">
                                <li><a href="{{ .Site.Params.instagramLink }}" aria-hidden="true" target="_blank"><i class="fa fa-instagram instagram-pink"></i></a></li>
                                <li><a href="{{ .Site.Params.whatsappLink }}" aria-hidden="true" target="_blank"><i class="fa fa-whatsapp whatsapp-green"></i></a></li>
                                <li><a href="{{ .Site.Params.email }}" aria-hidden="true"><i class="fa fa-envelope envelope-yellow"></i></a></li>
                                <li><a href="{{ .Site.Params.phone  | safeURL }}" aria-hidden="true"><i class="fa fa-phone phone-blue"></i></a></li>

                            </ul>
                        </div>
                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>
