<div class="container clearfix no-padd portfolio-single-content margin-lg-30b border-top border-bottom">
    <div class="row margin-lg-35t margin-lg-40b margin-sm-50b margin-xs-40b">
        <div class="col-sm-12">
            <div class="titles">
                <h2 class="title">
                    {{ $ct := "" }}

                    {{ if (isset . "customTitle") }}
                        {{ $ct = .customTitle }}
                    {{ else if and (isset . "ctx") (isset .ctx.Params "customTitle") }}
                        {{ $ct = .ctx.Params.customTitle }}
                    {{ end }}

                    {{ if eq $ct "" }}
                        Alcuni dei miei scatti
                    {{ else }}
                        {{ $ct }}
                    {{ end }}
                </h2>
            </div>
        </div>
    </div>
    <div class="container clearfix no-padd">
        <div class="row gallery-single margin-lg-10b margin-xs-0b">
            <div class="izotope-container">
                <div class="grid-sizer"></div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca1.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img loading="lazy" src="/photos/portfolio/small/san-marco-holiday-lucca1.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca2.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img loading="lazy" src="/photos/portfolio/small/san-marco-holiday-lucca2.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca3.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img loading="lazy" src="/photos/portfolio/small/san-marco-holiday-lucca3.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca4.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img loading="lazy" src="/photos/portfolio/small/san-marco-holiday-lucca4.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/drone-san-marco.jpg" class="gallery-item" title="Scatto con Drone, San Marco Holiday, Lucca">
                        <img loading="lazy" src="/photos/portfolio/small/drone-san-marco.jpg" class="s-img-switch" alt="Scatto con Drone, San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Scatto con Drone, San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/auto-epoca1.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img loading="lazy" src="/photos/portfolio/small/auto-epoca1.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Auto d’epoca, scatto professionale durante evento, Gaiole in Chianti</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/auto-epoca2.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img loading="lazy" src="/photos/portfolio/small/auto-epoca2.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Auto d’epoca, scatto professionale durante evento, Gaiole in Chianti</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/auto-epoca3.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img loading="lazy" src="/photos/portfolio/small/auto-epoca3.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Auto d’epoca, scatto professionale durante evento, Gaiole in Chianti</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/villa-agnolaccio1.jpg" class="gallery-item" title="B&amp;B Villa Agnolaccio, Pistoia">
                        <img loading="lazy" src="/photos/portfolio/small/villa-agnolaccio1.jpg" class="s-img-switch" alt="B&amp;B Villa Agnolaccio, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>B&amp;B Villa Agnolaccio, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/villa-agnolaccio2.jpg" class="gallery-item" title="B&amp;B Villa Agnolaccio, Pistoia">
                        <img loading="lazy" src="/photos/portfolio/small/villa-agnolaccio2.jpg" class="s-img-switch" alt="B&amp;B Villa Agnolaccio, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>B&amp;B Villa Agnolaccio, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/castello-ducale-colonna1.jpg" class="gallery-item" title="Castello Ducale Colonna, Agrigento">
                        <img loading="lazy" src="/photos/portfolio/small/castello-ducale-colonna1.jpg" class="s-img-switch" alt="Castello Ducale Colonna, Agrigento">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Castello Ducale Colonna, Agrigento</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/castello-ducale-colonna2.jpg" class="gallery-item" title="Castello Ducale Colonna, Agrigento">
                        <img loading="lazy" src="/photos/portfolio/small/castello-ducale-colonna2.jpg" class="s-img-switch" alt="Castello Ducale Colonna, Agrigento">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Castello Ducale Colonna, Agrigento</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/agriturismo-la-romagnana1.jpg" class="gallery-item" title="Agriturismo La Romagnana, Pistoia">
                        <img loading="lazy" src="/photos/portfolio/small/agriturismo-la-romagnana1.jpg" class="s-img-switch" alt="Agriturismo La Romagnana, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Agriturismo La Romagnana, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/agriturismo-la-romagnana2.jpg" class="gallery-item" title="Agriturismo La Romagnana, Pistoia">
                        <img loading="lazy" src="/photos/portfolio/small/agriturismo-la-romagnana2.jpg" class="s-img-switch" alt="Agriturismo La Romagnana, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Agriturismo La Romagnana, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/agriturismo-la-romagnana3.jpg" class="gallery-item" title="Agriturismo La Romagnana, Pistoia">
                        <img loading="lazy" src="/photos/portfolio/small/agriturismo-la-romagnana3.jpg" class="s-img-switch" alt="Agriturismo La Romagnana, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Agriturismo La Romagnana, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/palazzo-mediceo-pratolino1.jpg" class="gallery-item" title="Parco del Palazzo Mediceo di Pratolino, Firenze">
                        <img loading="lazy" src="/photos/portfolio/small/palazzo-mediceo-pratolino1.jpg" class="s-img-switch" alt="Parco del Palazzo Mediceo di Pratolino, Firenze">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Parco del Palazzo Mediceo di Pratolino, Firenze</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/palazzo-mediceo-pratolino2.jpg" class="gallery-item" title="Parco del Palazzo Mediceo di Pratolino, Firenze">
                        <img loading="lazy" src="/photos/portfolio/small/palazzo-mediceo-pratolino2.jpg" class="s-img-switch" alt="Parco del Palazzo Mediceo di Pratolino, Firenze">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Parco del Palazzo Mediceo di Pratolino, Firenze</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/osteria-della-madonna.jpg" class="gallery-item" title="Osteria">
                        <img loading="lazy" src="/photos/portfolio/small/osteria-della-madonna.jpg" class="s-img-switch" alt="Osteria">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Osteria</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/crete-senesi.jpg" class="gallery-item" title="Crete Senesi">
                        <img loading="lazy" src="/photos/portfolio/small/crete-senesi.jpg" class="s-img-switch" alt="Crete Senesi">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Crete Senesi</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/appennino-tosco-emiliano.jpg" class="gallery-item" title="Appennino Tosco-Emiliano">
                        <img loading="lazy" src="/photos/portfolio/small/appennino-tosco-emiliano.jpg" class="s-img-switch" alt="Appennino Tosco-Emiliano">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Appennino Tosco-Emiliano</h5>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "CollectionPage",
        "url": {{ .Permalink }},
        "name": "Il Mio Portfolio Fotografico",
        "description": "Una collezione dei migliori scatti di Stefano Gabryel, fotografo specializzato in eventi, architettura e paesaggi in Toscana e oltre.",
        "mainEntity": [
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/san-marco-holiday-lucca1.jpg",
                "name": "San Marco Holiday, Lucca",
                "description": "San Marco Holiday, Lucca",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia architettura Lucca, san marco holiday, interni albergo, struttura ricettiva",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/san-marco-holiday-lucca2.jpg",
                "name": "San Marco Holiday, Lucca",
                "description": "San Marco Holiday, Lucca",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "servizio fotografico hotel, fotografia interni, Lucca, struttura ricettiva",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/san-marco-holiday-lucca3.jpg",
                "name": "San Marco Holiday, Lucca",
                "description": "San Marco Holiday, Lucca",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia d'interni, san marco holiday, Lucca, albergo, struttura ricettiva",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/san-marco-holiday-lucca4.jpg",
                "name": "San Marco Holiday, Lucca",
                "description": "San Marco Holiday, Lucca",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia professionale, hotel Lucca, san marco holiday, struttura ricettiva",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/drone-san-marco.jpg",
                "name": "Scatto con Drone, San Marco Holiday, Lucca",
                "description": "Scatto con Drone, San Marco Holiday, Lucca",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia drone, riprese aeree Lucca, san marco holiday, veduta dall'alto, struttura ricettiva",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/auto-epoca1.jpg",
                "name": "Auto d’epoca, scatto professionale durante evento, Gaiole in Chianti",
                "description": "Auto d’epoca, scatto professionale durante evento, Gaiole in Chianti",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia evento, auto d'epoca, Gaiole in Chianti, scatto professionale",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/auto-epoca2.jpg",
                "name": "Auto d’epoca, scatto professionale durante evento, Gaiole in Chianti",
                "description": "Auto d’epoca, scatto professionale durante evento, Gaiole in Chianti",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia motori, auto storica, reportage evento Gaiole",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/auto-epoca3.jpg",
                "name": "Auto d’epoca, scatto professionale durante evento, Gaiole in Chianti",
                "description": "Auto d’epoca, scatto professionale durante evento, Gaiole in Chianti",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "scatto professionale auto, Gaiole in Chianti, fotografia evento",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/villa-agnolaccio1.jpg",
                "name": "B&B Villa Agnolaccio, Pistoia",
                "description": "B&B Villa Agnolaccio, Pistoia",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia B&B, Villa Agnolaccio, Pistoia, interni hotel, struttura ricettiva",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/villa-agnolaccio2.jpg",
                "name": "B&B Villa Agnolaccio, Pistoia",
                "description": "B&B Villa Agnolaccio, Pistoia",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "servizio fotografico strutture ricettive, Pistoia, B&B, struttura ricettiva",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/castello-ducale-colonna1.jpg",
                "name": "Castello Ducale Colonna, Agrigento",
                "description": "Castello Ducale Colonna, Agrigento",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia architettura storica, Castello Colonna, Agrigento, monumenti, struttura ricettiva",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/castello-ducale-colonna2.jpg",
                "name": "Castello Ducale Colonna, Agrigento",
                "description": "Castello Ducale Colonna, Agrigento",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia storico-culturale, Castello Ducale Colonna, Sicilia, struttura ricettiva",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/agriturismo-la-romagnana1.jpg",
                "name": "Agriturismo La Romagnana, Pistoia",
                "description": "Agriturismo La Romagnana, Pistoia",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia agriturismo, La Romagnana, Pistoia, esterni e paesaggio, struttura ricettiva",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/agriturismo-la-romagnana2.jpg",
                "name": "Agriturismo La Romagnana, Pistoia",
                "description": "Agriturismo La Romagnana, Pistoia",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "servizio fotografico rurale, Agriturismo Pistoia, Toscana, struttura ricettiva",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/agriturismo-la-romagnana3.jpg",
                "name": "Agriturismo La Romagnana, Pistoia",
                "description": "Agriturismo La Romagnana, Pistoia",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia cibo e prodotti locali, agriturismo, La Romagnana, struttura ricettiva",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/palazzo-mediceo-pratolino1.jpg",
                "name": "Parco del Palazzo Mediceo di Pratolino, Firenze",
                "description": "Parco del Palazzo Mediceo di Pratolino, Firenze",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia parco mediceo, giardini storici, Pratolino, Firenze",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/palazzo-mediceo-pratolino2.jpg",
                "name": "Parco del Palazzo Mediceo di Pratolino, Firenze",
                "description": "Parco del Palazzo Mediceo di Pratolino, Firenze",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia di paesaggio, Palazzo Mediceo Pratolino, Toscana",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/osteria-della-madonna.jpg",
                "name": "Osteria",
                "description": "Osteria",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia osteria, ristorazione, interni ristorante, cibo",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/crete-senesi.jpg",
                "name": "Crete Senesi",
                "description": "Crete Senesi",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia paesaggistica, crete senesi, Toscana, scatto panoramico, natura",
                "encodingFormat": "image/jpeg"
            },
            {
                "@type": "ImageObject",
                "contentUrl": "https://stefanogabryel.it/photos/portfolio/big/appennino-tosco-emiliano.jpg",
                "name": "Appennino Tosco-Emiliano",
                "description": "Appennino Tosco-Emiliano",
                "creditText": "Stefano Gabryel",
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "Stefano Gabryel"
                },
                "keywords": "fotografia montagna, Appennino Tosco-Emiliano, paesaggio, natura",
                "encodingFormat": "image/jpeg"
            }
        ]
    }
</script>