<div class="container clearfix no-padd portfolio-single-content margin-lg-30b border-top border-bottom">
    <div class="row margin-lg-35t margin-lg-40b margin-sm-50b margin-xs-40b">
        <div class="col-sm-12">
            <div class="titles">
                <h2 class="title">
                    {{ $ct := "" }}

                    {{ if (isset . "customTitle") }}
                        {{ $ct = .customTitle }}
                    {{ else if and (isset . "ctx") (isset .ctx.Params "customTitle") }}
                        {{ $ct = .ctx.Params.customTitle }}
                    {{ end }}

                    {{ if eq $ct "" }}
                        Alcuni dei miei scatti
                    {{ else }}
                        {{ $ct }}
                    {{ end }}
                </h2>
            </div>
        </div>
    </div>
    <div class="container clearfix no-padd">
        <div class="row gallery-single margin-lg-10b margin-xs-0b">
            <div class="izotope-container">
                <div class="grid-sizer"></div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca1.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/san-marco-holiday-lucca1.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca2.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/san-marco-holiday-lucca2.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca3.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/san-marco-holiday-lucca3.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/san-marco-holiday-lucca4.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/san-marco-holiday-lucca4.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/drone-san-marco.jpg" class="gallery-item" title="Scatto con Drone, San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/drone-san-marco.jpg" class="s-img-switch" alt="Scatto con Drone, San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Scatto con Drone, San Marco Holiday, Lucca</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/auto-epoca1.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/auto-epoca1.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Auto d’epoca, scatto professionale durante evento, Gaiole in Chianti</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/auto-epoca2.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/auto-epoca2.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Auto d’epoca, scatto professionale durante evento, Gaiole in Chianti</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/auto-epoca3.jpg" class="gallery-item" title="San Marco Holiday, Lucca">
                        <img src="/photos/portfolio/small/auto-epoca3.jpg" class="s-img-switch" alt="San Marco Holiday, Lucca">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Auto d’epoca, scatto professionale durante evento, Gaiole in Chianti</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/villa-agnolaccio1.jpg" class="gallery-item" title="B&amp;B Villa Agnolaccio, Pistoia">
                        <img src="/photos/portfolio/small/villa-agnolaccio1.jpg" class="s-img-switch" alt="B&amp;B Villa Agnolaccio, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>B&amp;B Villa Agnolaccio, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/villa-agnolaccio2.jpg" class="gallery-item" title="B&amp;B Villa Agnolaccio, Pistoia">
                        <img src="/photos/portfolio/small/villa-agnolaccio2.jpg" class="s-img-switch" alt="B&amp;B Villa Agnolaccio, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>B&amp;B Villa Agnolaccio, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/castello-ducale-colonna1.jpg" class="gallery-item" title="Castello Ducale Colonna, Agrigento">
                        <img src="/photos/portfolio/small/castello-ducale-colonna1.jpg" class="s-img-switch" alt="Castello Ducale Colonna, Agrigento">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Castello Ducale Colonna, Agrigento</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/castello-ducale-colonna2.jpg" class="gallery-item" title="Castello Ducale Colonna, Agrigento">
                        <img src="/photos/portfolio/small/castello-ducale-colonna2.jpg" class="s-img-switch" alt="Castello Ducale Colonna, Agrigento">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Castello Ducale Colonna, Agrigento</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/agriturismo-la-romagnana1.jpg" class="gallery-item" title="Agriturismo La Romagnana, Pistoia">
                        <img src="/photos/portfolio/small/agriturismo-la-romagnana1.jpg" class="s-img-switch" alt="Agriturismo La Romagnana, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Agriturismo La Romagnana, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/agriturismo-la-romagnana2.jpg" class="gallery-item" title="Agriturismo La Romagnana, Pistoia">
                        <img src="/photos/portfolio/small/agriturismo-la-romagnana2.jpg" class="s-img-switch" alt="Agriturismo La Romagnana, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Agriturismo La Romagnana, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/agriturismo-la-romagnana3.jpg" class="gallery-item" title="Agriturismo La Romagnana, Pistoia">
                        <img src="/photos/portfolio/small/agriturismo-la-romagnana3.jpg" class="s-img-switch" alt="Agriturismo La Romagnana, Pistoia">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Agriturismo La Romagnana, Pistoia</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/palazzo-mediceo-pratolino1.jpg" class="gallery-item" title="Parco del Palazzo Mediceo di Pratolino, Firenze">
                        <img src="/photos/portfolio/small/palazzo-mediceo-pratolino1.jpg" class="s-img-switch" alt="Parco del Palazzo Mediceo di Pratolino, Firenze">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Parco del Palazzo Mediceo di Pratolino, Firenze</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/palazzo-mediceo-pratolino2.jpg" class="gallery-item" title="Parco del Palazzo Mediceo di Pratolino, Firenze">
                        <img src="/photos/portfolio/small/palazzo-mediceo-pratolino2.jpg" class="s-img-switch" alt="Parco del Palazzo Mediceo di Pratolino, Firenze">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Parco del Palazzo Mediceo di Pratolino, Firenze</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/osteria-della-madonna.jpg" class="gallery-item" title="Osteria">
                        <img src="/photos/portfolio/small/osteria-della-madonna.jpg" class="s-img-switch" alt="Osteria">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Osteria</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/crete-senesi.jpg" class="gallery-item" title="Crete Senesi">
                        <img src="/photos/portfolio/small/crete-senesi.jpg" class="s-img-switch" alt="Crete Senesi">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Crete Senesi</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6 margin-lg-30b item-single">
                    <a href="/photos/portfolio/big/appennino-tosco-emiliano.jpg" class="gallery-item" title="Appennino Tosco-Emiliano">
                        <img src="/photos/portfolio/small/appennino-tosco-emiliano.jpg" class="s-img-switch" alt="Appennino Tosco-Emiliano">
                        <div class="info-content">
                            <div class="vertical-align">
                                <h5>Appennino Tosco-Emiliano</h5>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>